.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.bg-profile {
    background-color: #c7a693;
}

.cover-profile {
	color: #856046;
}

.cover-profile img.cover-image{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.cover-profile-image {
	margin: -150px 10px 0px 50px;
    z-index: 1;
    width: 20%; 
}

.mt-20 {
    margin-top: 20px;
}

@media (max-width:768px) {

	.cover-profile-image {
		margin: -45px 10px 0px 25px;
	    z-index: 1;
	    width: 20%; 
	}

}